/*
Donovan Kong
Personal webpage
*/

body {
    font-family: 'Raleway', sans-serif;
}

body h1 {
    font-size: 4em;
    text-align: center;
}

hr {
    margin-top: 1.25em;
    width: 75%;
}

#index-main {
    width: 50%;
    margin: auto;
}

#index-main p {
    text-align: center;
}

#cv-main {
    width: 35%;
    margin: auto;
}

#cv-main h2 {
    font-size: 2.5em;
    text-align: center;
}

#cv-main h3 {
    font-size: 1.5em;
    text-align: center;
}

#cv-main a {
    color: black;
    text-decoration: none;
    margin: auto;
}

#wide {
    width: 50%;
}

.cv-section hr {
    width: 15%;
}

#cv-main p {
    text-align: center;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

#nav a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    border-bottom: 1px solid transparent;
    transition:border-bottom 300ms;
}

#nav a:hover {
    border-bottom: 1px solid currentColor;
}

#projects-main {
    width: 70%;
    margin: auto;
}

#projects-main h2 {
    font-size: 2em;
}

#main-top, #projects-main h2 {
    text-align: center;
}

.projectcard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

.projectcard h3 {
    font-size: 2em;
    margin-bottom: 0;
}

.projectcard p {
    margin-top: 0;
}

.projectcard img {
    height: 20em;
    width: 20em;
    border-radius: 10%;
    border: 1px solid black;;
}

.projectcard hr {
    width: 30%;
    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.projectcard h3, .projectcard p {
    text-align: left;
}

.projectcard section {
    width: 40%;
    margin-bottom: 3em;
    margin-left: 1em;
}